modules = ["nodejs-20", "bash", "bun-1.2", "bun-1.1", "bun-1.0", "gcloud", "java-graalvm22.3", "nodejs-24", "nodejs-23", "nodejs-22", "nodejs-19", "nodejs-18", "nodejs-16", "php-8.4", "postgresql-17", "python-3.9", "svelte-kit-node-20", "typescript-language-server", "vue-node-20", "web", "nodejs-with-prybar-18", "swift-5.8"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35367
externalPort = 3000

[[ports]]
localPort = 40353
externalPort = 3002

[[ports]]
localPort = 42381
externalPort = 3003

[[ports]]
localPort = 44207
externalPort = 3001
[env]
PORT = "5000"
EXTERNAL_PORT = "80"

[nix]
channel = "stable-25_05"
packages = ["python312Packages.cleanlab"]
# Add additional environment variables as needed
# Example:
# ANOTHER_VARIABLE = "value"