modules = ["nodejs-20", "web", "postgresql-16", "dotnet-10.0", "dotnet-9.0", "dotnet-8.0", "angular-node-24", "angular-node-20", "bash", "bun-1.1", "c-clang14", "cpp-clang14", "clojure-1.11", "clojure-1.12", "dart-2.18", "deno-2", "elixir-1_15", "elixir-1_18", "go-1.19", "gcloud", "haskell-ghc9.8", "haskell-ghc9.4", "hermit-0.38.2", "nix", "nodejs-24", "nodejs-22", "nodejs-19", "nodejs-18", "php-8.4", "postgresql-17", "qbasic", "rust-stable", "rust-nightly", "swift-5.8", "typescript-language-server", "vue-node-20", "pyright-extended", "nodejs-with-prybar-18", "docker"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip", "openjdk17", "perlPackages.PodMarkdown", "sbclPackages.parse-float", "python312Packages.python-lsp-black", "luastatus"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
ignorePorts = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35367
externalPort = 3000

[[ports]]
localPort = 40353
externalPort = 3002

[[ports]]
localPort = 42381
externalPort = 3003

[[ports]]
localPort = 44207
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_stripe==1.0.0", "javascript_log_in_with_replit==1.0.0", "javascript_database==1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-8f6b0b20-62dd-4e07-b983-740777e884ca"

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".json"]
id = "module:web/languageServer:typescript-language-server"
